.outer-div{
    width: 600px;
    height: 650px;
    background-color: rgb(222, 252, 252);
    position: relative;
    border: 1px solid black;
    z-index: 0;
    
}

.inner-div{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    position: absolute;
    cursor: move;
    z-index: 400;
}

.tooltip{
    position: fixed;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    z-index: 200;
}