.outer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 650px;
  background-color: rgb(222, 252, 252);
  position: fixed;
  z-index: 100;
  border-radius: 10px;
  border: 1px solid rgb(191, 239, 250);
  overflow: hidden;
}

.inner-div {
  width: 100px;
  height: 50px;
  background-color: blueviolet;
  position: absolute;
  cursor: grab;
  z-index: 200;
}

.tooltip {
  position: fixed;
  background-color: rgb(72, 72, 82);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  z-index: 900;
}

.resize-handle {
  position: absolute;
  width: 12px;
  height: 15px;
  background-color: #007bff;
}

.right-resize {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  cursor: ew-resize;
}

.bottom-resize {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: ns-resize;
}

.left-resize {
  top: 50%;
  left: 0;
  transform: translate(-50%, 50%);
  cursor: ew-resize;
}

.top-resize {
  top: 0;
  left: 50%;
  transform: translate(50%, -50%);
  cursor: ns-resize;
}
